.row {
    width: 65%;
    font-size: 24px;
    margin: auto;
}
#header {
    background-color: #9ee0ff;
}

.online {
    background-color: #bcffd0
}

.offline {
    background-color: #ffb7b7;
}

.row {
border: 1px solid white;
}

img {
    margin: auto;
}